@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.login-page {
  width: 360px;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Oswald";
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .btn:hover,.form .btn:active,.form .btn:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.word{
    margin-left: 8%;
    font-family: "Oswald";
    font-size: 75px;
    color: #c3ddc3;
    animation: color 7s infinite;
}

body {
  
 
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  animation: background 7s infinite;   
}
@keyframes background {
    0% {
        background:rgb(31, 85, 0);
    }
    
    50% {
        background:rgb(141,194,111);
    }
    
    100% {
        background:rgb(31, 85, 0);
    }
}
@keyframes color {
    0% {
        color:rgb(141,194,111);
    }
    
    50% {
        color:rgb(30, 82, 0);
    }
    
    100% {
        color:rgb(141,194,111);
    }
}