<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='loginstyles.css') }}">          
    </head>
    <body><div class="login-page">

      <br><br><br>
      <div class = "title">
        <h1 class="word">LENSFLEUR</h1>
      </div>
      <div class="form">
        <form action="{{ url_for('login') }}" method="post">
          <p>{{msg}}</p>
          <input  name="username" type="username" placeholder="Enter Your Username" class="textbox"/>
          <input  name="password" type="password" placeholder="Enter Your Password" class="textbox"/>
          <input type="submit" class="btn" value="login">
          <p class="message">Not registered? <a href="{{url_for('register')}}">Create an account</a></p>
        </form>
      </div>
    </div>
    </body>
</html>
