<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='/Product.css')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="manifest" href="static/site.webmanifest">
</head>
<body id ="google_element">
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
        function loadGoogleTranslate()
        {
            new google.translate.TranslateElement("google_element");
        }
    </script>
<header>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>
    <a href="{{url_for('home')}}" class="logo">LENS<span>FLEUR</span></a>
    <nav class="navbar">
        <a href="{{url_for('home')}}">HOME</a>
        <a href="#of">ORGANIC PRODUCTS</a>
        <a href="#inof">INORGANIC FERTILIZERS</a>
        <a href="#ini">INORGANIC INSECTICIDES</a>
        <a href="#inop">INORGANIC PESTICIDES</a>
    </nav>
</header>
<h1 class="heading"></h1>
<section class="products" id="of">
<h1 class="heading"> Organic <span>Products</span> </h1>
<div class="container">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Ugaoo Cow Manure</h2>
            <p class="date">It is made from animal excreta(cow dung & goat droppings). Cattle Manure is a good source of nitrogen and organic carbon while goat manure is rich in nitrogen and potash.</p>
            <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of2.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Greenfield GroChar Compost</h2>
            <p class="date">It is organic matter decomposed through composting. The organic matter used here can be vegetable and plant waste, animal excreta.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </div>
        <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of3.webp')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Rock Phosphate</h2>
            <p class="date">It is sedimentary rock which contains high amount of phosphate minerals. It is used naturally to fix phosphate levels of soil.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </div>
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of4.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Trust Basket Vermi Compost</h2>
            <p class="date">It is a product of organic material degradation using various species of worms, to create a heterogeneous mixture of decomposing food waste.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</section>

<section class="products" id="inof">
<h1 class="heading"> Inorganic <span>Fertilizers</span> </h1>
<div class="container">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Ugaoo Cow Manure</h2>
            <p class="date">It is made from animal excreta(cow dung & goat droppings). Cattle Manure is a good source of nitrogen and organic carbon while goat manure is rich in nitrogen and potash.</p>
            <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of2.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Greenfield GroChar Compost</h2>
            <p class="date">It is organic matter decomposed through composting. The organic matter used here can be vegetable and plant waste, animal excreta.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </div>
        <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of3.webp')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Rock Phosphate</h2>
            <p class="date">It is sedimentary rock which contains high amount of phosphate minerals. It is used naturally to fix phosphate levels of soil.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </div>
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of4.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Trust Basket Vermi Compost</h2>
            <p class="date">It is a product of organic material degradation using various species of worms, to create a heterogeneous mixture of decomposing food waste.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</section>

<section class="products" id="ini">
<h1 class="heading"> Inorganic <span>Insecticides</span> </h1>
<div class="container">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Ugaoo Cow Manure</h2>
            <p class="date">It is made from animal excreta(cow dung & goat droppings). Cattle Manure is a good source of nitrogen and organic carbon while goat manure is rich in nitrogen and potash.</p>
            <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of2.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Greenfield GroChar Compost</h2>
            <p class="date">It is organic matter decomposed through composting. The organic matter used here can be vegetable and plant waste, animal excreta.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </div>
        <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of3.webp')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Rock Phosphate</h2>
            <p class="date">It is sedimentary rock which contains high amount of phosphate minerals. It is used naturally to fix phosphate levels of soil.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </div>
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of4.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Trust Basket Vermi Compost</h2>
            <p class="date">It is a product of organic material degradation using various species of worms, to create a heterogeneous mixture of decomposing food waste.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</section>

<section class="products" id="inop">
<h1 class="heading"> Inorganic <span>Pesticides</span> </h1>
<div class="container">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Ugaoo Cow Manure</h2>
            <p class="date">It is made from animal excreta(cow dung & goat droppings). Cattle Manure is a good source of nitrogen and organic carbon while goat manure is rich in nitrogen and potash.</p>
            <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of2.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Greenfield GroChar Compost</h2>
            <p class="date">It is organic matter decomposed through composting. The organic matter used here can be vegetable and plant waste, animal excreta.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </div>
        <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of3.webp')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Rock Phosphate</h2>
            <p class="date">It is sedimentary rock which contains high amount of phosphate minerals. It is used naturally to fix phosphate levels of soil.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </div>
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i>
            </label>
        </div>
        <div class="gow-img-div img-div">
            <img src="{{url_for('static',filename='/of4.jpg')}}">
        </div>
        <div class="text-container">
            <h2 class="item-name">Trust Basket Vermi Compost</h2>
            <p class="date">It is a product of organic material degradation using various species of worms, to create a heterogeneous mixture of decomposing food waste.</p>
        <div class="pricing-and-cart">
                <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</section>
</body>
</html>